<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Modificar Servicio </h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Servicio">

            <div class="form-group row" [ngClass]="{'has-error': (!nombreAC.valid && nombreAC.touched), 'has-success': (nombreAC.valid && nombreAC.touched)}">
              <label for="inputnombreAC" class="col-sm-2 form-control-label">Nombre</label>
              <div class="col-sm-10">
                <input [(ngModel)]="nombre" [formControl]="nombreAC" type="text" class="form-control" id="inputnombreAC" placeholder="Nombre" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!precioAC.valid && precioAC.touched), 'has-success': (precioAC.valid && precioAC.touched)}">
              <label for="inputprecioAC" class="col-sm-2 form-control-label">Precio</label>
              <div class="col-sm-10">
                <input [(ngModel)]="precio" [formControl]="precioAC" type="text" class="form-control" id="inputprecioAC" placeholder="Precio" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!ivaAC.valid && ivaAC.touched), 'has-success': (ivaAC.valid && ivaAC.touched)}">
              <label for="inputivaAC" class="col-sm-2 form-control-label">Iva</label>
              <div class="col-sm-10">
                <input [(ngModel)]="iva" [formControl]="ivaAC" type="text" class="form-control" id="inputivaAC" placeholder="Iva" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!taller_idtallerAC.valid && taller_idtallerAC.touched), 'has-success': (taller_idtallerAC.valid && taller_idtallerAC.touched)}">
                <label for="inputtaller_idtallerAC" class="col-sm-2 form-control-label">Taller</label>
                <div class="col-sm-10">
                  <select [(ngModel)]="taller_idtaller" [formControl]="taller_idtallerAC" name="taller_idtallerAC" class="form-control">
                    <option *ngFor="let taller of talleres" [value]="taller.idtaller">
                      {{ taller.nombre }}
                    </option>
                  </select>
                </div>
            </div>


          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
