<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Permisotaxi</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Permisotaxi">

            <div class="form-group row" [ngClass]="{'has-error': (!numero.valid && numero.touched), 'has-success': (numero.valid && numero.touched)}">
              <label for="inputnumero" class="col-sm-2 form-control-label">Número</label>
              <div class="col-sm-10">
                <input [formControl]="numero" type="text" class="form-control" id="inputnumero" placeholder="Número" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!fechaAlta.valid && fechaAlta.touched), 'has-success': (fechaAlta.valid && fechaAlta.touched)}">
              <label for="inputfechaAlta" class="col-sm-2 form-control-label">Fecha alta</label>
              <div class="col-sm-10">
                <input [formControl]="fechaAlta" type="date" class="form-control" id="inputfechaAlta" placeholder="Fecha alta" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
              <label for="inputstatus" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [formControl]="status" type="text" class="form-control" id="inputstatus" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!vigencia.valid && vigencia.touched), 'has-success': (vigencia.valid && vigencia.touched)}">
              <label for="inputvigencia" class="col-sm-2 form-control-label">Vigencia</label>
              <div class="col-sm-10">
                <input [formControl]="vigencia" type="date" class="form-control" id="inputvigencia" placeholder="Vigencia" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!liquidez.valid && liquidez.touched), 'has-success': (liquidez.valid && liquidez.touched)}">
              <label for="inputliquidez" class="col-sm-2 form-control-label">Liquidez</label>
              <div class="col-sm-10">
                <input [formControl]="liquidez" type="number" class="form-control" id="inputliquidez" placeholder="Liquidez" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!liquidezDom.valid && liquidezDom.touched), 'has-success': (liquidezDom.valid && liquidezDom.touched)}">
              <label for="inputliquidezDom" class="col-sm-2 form-control-label">Liquidez domingo</label>
              <div class="col-sm-10">
                <input [formControl]="liquidezDom" type="number" class="form-control" id="inputliquidezDom" placeholder="Liquidez domingo" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!propietario.valid && propietario.touched), 'has-success': (propietario.valid && propietario.touched)}">
              <label for="inputpropietario" class="col-sm-2 form-control-label">Propietario</label>
              <div class="col-sm-10">
                <select [formControl]="propietario" name="propietario" class="form-control">
                  <option *ngFor="let propietario of propietarios" [value]="propietario.idpersona">
                    {{ propietario.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
