<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Chofer </h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Chofer">

            <div class="form-group row" [ngClass]="{'has-error': (!licencia.valid && licencia.touched), 'has-success': (licencia.valid && licencia.touched)}">
              <label for="inputlicencia" class="col-sm-2 form-control-label">Licencia</label>
              <div class="col-sm-10">
                <input [formControl]="licencia" type="text" class="form-control" id="inputlicencia" placeholder="Licencia" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
              <label for="inputstatus" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [formControl]="status" type="text" class="form-control" id="inputstatus" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!chofer.valid && chofer.touched), 'has-success': (chofer.valid && chofer.touched)}">
              <label for="inputchofer" class="col-sm-2 form-control-label">Chofer</label>
              <div class="col-sm-10">
                <select [formControl]="chofer" name="chofer" class="form-control">
                  <option *ngFor="let aval of avales" [value]="aval.idpersona">
                    {{ aval.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!fianza.valid && fianza.touched), 'has-success': (fianza.valid && fianza.touched)}">
              <label for="inputfianza" class="col-sm-2 form-control-label">Fianza</label>
              <div class="col-sm-10">
                <input [formControl]="fianza" type="text" class="form-control" id="inputfianza" placeholder="Fianza" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!aval1.valid && aval1.touched), 'has-success': (aval1.valid && aval1.touched)}">
              <label for="inputaval1" class="col-sm-2 form-control-label">Aval1</label>
              <div class="col-sm-10">
                <select [formControl]="aval1" name="aval1" class="form-control">
                  <option *ngFor="let aval of avales" [value]="aval.idpersona">
                    {{ aval.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!aval2.valid && aval2.touched), 'has-success': (aval2.valid && aval2.touched)}">
              <label for="inputaval2" class="col-sm-2 form-control-label">Aval2</label>
              <div class="col-sm-10">
                <select [formControl]="aval2" name="aval2" class="form-control">
                  <option *ngFor="let aval of avales" [value]="aval.idpersona">
                      {{ aval.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!aval3.valid && aval3.touched), 'has-success': (aval3.valid && aval3.touched)}">
              <label for="inputaval3" class="col-sm-2 form-control-label">Aval3</label>
              <div class="col-sm-10">
                <select [formControl]="aval3" name="aval3" class="form-control">
                  <option *ngFor="let aval of avales" [value]="aval.idpersona">
                      {{ aval.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!aval4.valid && aval4.touched), 'has-success': (aval4.valid && aval4.touched)}">
              <label for="inputaval4" class="col-sm-2 form-control-label">Aval4</label>
              <div class="col-sm-10">
                <select [formControl]="aval4" name="aval4" class="form-control">
                  <option *ngFor="let aval of avales" [value]="aval.idpersona">
                      {{ aval.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
