<div class="widgets">
    <div class="row">
        <ba-card title="Listado" baCardClass="with-scroll" class="data-table-container">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">Información de Vehiculos</div> -->

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 23%"></th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="marca">Marca</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="modelo">Modelo</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="anio">Año</mfDefaultSorter>
                            </th>

                            <th style="width: 7%">
                                <mfDefaultSorter by="serie">Serie</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="kilometraje">Kilometraje</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="serieMotor">serie del Motor</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="placa">Placa</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="poliza">Poliza</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="polizaTipo">PolizaTipo</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="condActual">Condicion Actual</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="condInicial">Condicion Inicial</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="color">Color</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="propietario">Propietario</mfDefaultSorter>
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data;  let i = index">
                            <td>
                                <button (click)="editVehiculosModalShow(item)" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                                <button (click)="onDeleteConfirm($event, item.idvehiculo)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                <button (click)="uploadModalShow(item.idvehiculo, item.marca)" class="btn btn-sm btn-success"><i class="fa fa-file"></i></button>
                                <button (click)="filesModalShow(item.idvehiculo)" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></button>
                            </td>
                            <td>{{ item.marca }}</td>
                            <td>{{ item.modelo }}</td>
                            <td>{{ item.anio }}</td>
                            <td>{{ item.serie }}</td>
                            <td>{{ item.kilometraje }}</td>
                            <td>{{ item.serieMotor }}</td>
                            <td>{{ item.placa }}</td>
                            <td>{{ item.status}}</td>
                            <td>{{ item.poliza}}</td>
                            <td>{{ item.polizaTipo}}</td>
                            <td>{{ item.condActual}}</td>
                            <td>{{ item.condInicial}}</td>
                            <td>{{ item.color}}</td>
                            <td>{{ item.propietario}}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button (click)="addVehiculosModalShow()" class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>

</div>
