<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Fianza</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Fianza">

            <div class="form-group row" [ngClass]="{'has-error': (!montopagado.valid && montopagado.touched), 'has-success': (montopagado.valid && montopagado.touched)}">
              <label for="inputmontopagado" class="col-sm-2 form-control-label">Monto Pagado</label>
              <div class="col-sm-10">
                <input [formControl]="montopagado" type="text" class="form-control" id="inputmontopagado" placeholder="Monto Pagado" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
              <label for="inputstatus" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [formControl]="status" type="text" class="form-control" id="inputstatus" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!montoadeudado.valid && montoadeudado.touched), 'has-success': (montoadeudado.valid && montoadeudado.touched)}">
              <label for="inputmontoadeudado" class="col-sm-2 form-control-label">Monto Adeudado</label>
              <div class="col-sm-10">
                <input [formControl]="montoadeudado" type="text" class="form-control" id="inputmontoadeudado" placeholder="Monto Adeudado" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!chofer_idchofer.valid && chofer_idchofer.touched), 'has-success': (chofer_idchofer.valid && chofer_idchofer.touched)}">
              <label for="inputchofer_idchofer" class="col-sm-2 form-control-label">Chofer</label>
              <div class="col-sm-10">
                <select [formControl]="chofer_idchofer" class="form-control" name="chofer_idchofer">
                  <option *ngFor="let chofer of choferes" [value]="chofer.idchofer">
                    {{ chofer.idchofer }}
                  </option>
                </select>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
