<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Modificar Enviotaller</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Enviotaller">

            <div class="form-group row" [ngClass]="{'has-error': (!taller_idtallerAC.valid && taller_idtallerAC.touched), 'has-success': (taller_idtallerAC.valid && taller_idtallerAC.touched)}">
              <label for="inputtaller_idtallerAC" class="col-sm-2 form-control-label">Taller</label>
              <div class="col-sm-10">
                <select [(ngModel)]="taller_idtaller" [formControl]="taller_idtallerAC" name="taller_idtallerAC" class="form-control">
                  <option *ngFor="let taller of talleres" [value]="taller.idtaller">
                    {{ taller.idtaller }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!permisotaxiasignado_idpermisotaxiasignadoAC.valid && permisotaxiasignado_idpermisotaxiasignadoAC.touched), 'has-success': (permisotaxiasignado_idpermisotaxiasignadoAC.valid && permisotaxiasignado_idpermisotaxiasignadoAC.touched)}">
              <label for="inputpermisotaxiasignado_idpermisotaxiasignadoAC" class="col-sm-2 form-control-label">Permiso Taxi Asignado</label>
              <div class="col-sm-10">
                <select [(ngModel)]="permisotaxiasignado_idpermisotaxiasignado" [formControl]="permisotaxiasignado_idpermisotaxiasignadoAC" name="permisotaxiasignado_idpermisotaxiasignadoAC" class="form-control">
                  <option *ngFor="let permiso of permisos" [value]="permiso.idpermisotaxiasignado">
                    {{ permiso.idpermisotaxiasignado }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!motivoAC.valid && motivoAC.touched), 'has-success': (motivoAC.valid && motivoAC.touched)}">
                <label for="inputmotivoAC" class="col-sm-2 form-control-label">Status</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="motivo" [formControl]="motivoAC" type="text" class="form-control" id="inputmotivoAC" placeholder="Status" >
                </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!fechaAC.valid && fechaAC.touched), 'has-success': (fechaAC.valid && fechaAC.touched)}">
              <label for="inputfechaAC" class="col-sm-2 form-control-label">Fecha</label>
              <div class="col-sm-10">
                <input [value]="fecha | date:'yyyy-MM-dd'" (input)="fecha=parseDate($event.target.value)" [formControl]="fechaAC" type="date" class="form-control" id="inputfechaAC" placeholder="Fecha" >
              </div>
            </div>

          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
