<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Permiso </h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Permiso">

            <div class="form-group row" [ngClass]="{'has-error': (!acceso.valid && acceso.touched), 'has-success': (acceso.valid && acceso.touched)}">
              <label for="inputacceso" class="col-sm-2 form-control-label">Acceso</label>
              <div class="col-sm-10">
                <input [formControl]="acceso" type="checkbox" class="form-control" id="inputacceso" placeholder="Acceso" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!rol_idrol.valid && rol_idrol.touched), 'has-success': (rol_idrol.valid && rol_idrol.touched)}">
              <label for="inputrol_idrol" class="col-sm-2 form-control-label">Rol</label>
              <div class="col-sm-10">
                <select [formControl]="rol_idrol" name="rol_idrol" class="form-control">
                  <option *ngFor="let rol of roles" [value]="rol.idrol">
                    {{ rol.nombre }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!modulo_idmodulo.valid && modulo_idmodulo.touched), 'has-success': (modulo_idmodulo.valid && modulo_idmodulo.touched)}">
              <label for="inputmodulo_idmodulo" class="col-sm-2 form-control-label">Modulo</label>
              <div class="col-sm-10">
                <select [formControl]="modulo_idmodulo" name="modulo_idmodulo" class="form-control">
                  <option *ngFor="let modulo of modulos" [value]="modulo.idmodulo">
                    {{ modulo.nombre }}
                  </option>
                </select>
              </div>
            </div>


          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
