<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Modificar Vehiculo</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Vehiculo">

            <div class="form-group row" [ngClass]="{'has-error': (!marcaAC.valid && marcaAC.touched), 'has-success': (marcaAC.valid && marcaAC.touched)}">
              <label for="inputmarcaAC" class="col-sm-2 form-control-label">Marca</label>
              <div class="col-sm-10">
                <input [(ngModel)]="marca" [formControl]="marcaAC" type="text" class="form-control" id="inputmarcaAC" placeholder="Marca" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!modeloAC.valid && modeloAC.touched), 'has-success': (modeloAC.valid && modeloAC.touched)}">
              <label for="inputmodeloAC" class="col-sm-2 form-control-label">Modelo</label>
              <div class="col-sm-10">
                <input [(ngModel)]="modelo" [formControl]="modeloAC" type="text" class="form-control" id="inputmodeloAC" placeholder="Modelo" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!anioAC.valid && anioAC.touched), 'has-success': (anioAC.valid && anioAC.touched)}">
              <label for="inputanioAC" class="col-sm-2 form-control-label">Anio</label>
              <div class="col-sm-10">
                <input [(ngModel)]="anio" [formControl]="anioAC" type="text" class="form-control" id="inputanioAC" placeholder="Anio" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!serieAC.valid && serieAC.touched), 'has-success': (serieAC.valid && serieAC.touched)}">
              <label for="inputserieAC" class="col-sm-2 form-control-label">Serie</label>
              <div class="col-sm-10">
                <input [(ngModel)]="serie" [formControl]="serieAC" type="text" class="form-control" id="inputserieAC" placeholder="Serie" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!serieMotorAC.valid && serieMotorAC.touched), 'has-success': (serieMotorAC.valid && serieMotorAC.touched)}">
              <label for="inputserieMotorAC" class="col-sm-2 form-control-label">Serie del Motor</label>
              <div class="col-sm-10">
                <input [(ngModel)]="serieMotor" [formControl]="serieMotorAC" type="text" class="form-control" id="inputserieMotorAC" placeholder="Serie del Motor" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!placaAC.valid && placaAC.touched), 'has-success': (placaAC.valid && placaAC.touched)}">
              <label for="inputplacaAC" class="col-sm-2 form-control-label">Placa</label>
              <div class="col-sm-10">
                <input [(ngModel)]="placa" [formControl]="placaAC" type="text" class="form-control" id="inputplacaAC" placeholder="Placa" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!kilometrajeAC.valid && kilometrajeAC.touched), 'has-success': (kilometrajeAC.valid && kilometrajeAC.touched)}">
              <label for="inputkilometrajeAC" class="col-sm-2 form-control-label">Kilometraje</label>
              <div class="col-sm-10">
                <input [(ngModel)]="kilometraje" [formControl]="kilometrajeAC" type="text" class="form-control" id="inputkilometrajeAC" placeholder="Kilometraje" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!statusAC.valid && statusAC.touched), 'has-success': (statusAC.valid && statusAC.touched)}">
              <label for="inputstatusAC" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [(ngModel)]="status" [formControl]="statusAC" type="text" class="form-control" id="inputstatusAC" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!polizaAC.valid && polizaAC.touched), 'has-success': (polizaAC.valid && polizaAC.touched)}">
              <label for="inputpolizaAC" class="col-sm-2 form-control-label">Poliza</label>
              <div class="col-sm-10">
                <input [(ngModel)]="poliza" [formControl]="polizaAC" type="text" class="form-control" id="inputpolizaAC" placeholder="Poliza" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!polizaTipoAC.valid && polizaTipoAC.touched), 'has-success': (polizaTipoAC.valid && polizaTipoAC.touched)}">
              <label for="inputpolizaTipoAC" class="col-sm-2 form-control-label">polizaTipo</label>
              <div class="col-sm-10">
                <input [(ngModel)]="polizaTipo" [formControl]="polizaTipoAC" type="text" class="form-control" id="inputpolizaTipoAC" placeholder="polizaTipo" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!condActualAC.valid && condActualAC.touched), 'has-success': (condActualAC.valid && condActualAC.touched)}">
              <label for="inputcondActualAC" class="col-sm-2 form-control-label">Condicion Actual</label>
              <div class="col-sm-10">
                <input [(ngModel)]="condActual" [formControl]="condActualAC" type="text" class="form-control" id="inputcondActualAC" placeholder="Condicion Actual" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!condInicialAC.valid && condInicialAC.touched), 'has-success': (condInicialAC.valid && condInicialAC.touched)}">
              <label for="inputcondInicialAC" class="col-sm-2 form-control-label">Condicion Inicial</label>
              <div class="col-sm-10">
                <input [(ngModel)]="condInicial" [formControl]="condInicialAC" type="text" class="form-control" id="inputcondInicialAC" placeholder="Condicion Inicial" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!colorAC.valid && colorAC.touched), 'has-success': (colorAC.valid && colorAC.touched)}">
              <label for="inputcolorAC" class="col-sm-2 form-control-label">Color</label>
              <div class="col-sm-10">
                <input [(ngModel)]="color" [formControl]="colorAC" type="text" class="form-control" id="inputcolorAC" placeholder="Color" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!propietarioAC.valid && propietarioAC.touched), 'has-success': (propietarioAC.valid && propietarioAC.touched)}">
              <label for="inputpropietarioAC" class="col-sm-2 form-control-label">Propietario</label>
              <div class="col-sm-10">
                <select [(ngModel)]="propietario" [formControl]="propietarioAC" name="propietario" class="form-control">
                  <option *ngFor="let propietario of propietarios" [value]="propietario.idpersona">
                    {{ propietario.nombre }}
                  </option>
                </select>
              </div>
            </div>


          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
