<div class="widgets">
    <div class="row">
        <ba-card title="Listado" baCardClass="with-scroll" class="data-table-container">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">Información de Permisotaxiasignados</div> -->

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 23%"></th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="chofer_idchofer">Chofer</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="vehiculo_idvehiculo">Vehiculo</mfDefaultSorter>
                            </th>
                            <th style="width: 7%">
                                <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>

                            <th style="width: 7%">
                                <mfDefaultSorter by="permisotaxi_idpermisotaxi">Permiso</mfDefaultSorter>
                            </th>

                            <th style="width: 7%">
                                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data;  let i = index">
                            <td>
                                <button (click)="editPermisotaxiasignadosModalShow(item)" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                                <button (click)="onDeleteConfirm($event, item.idpermisotaxiasignado)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                            <td>{{ item.chofer_idchofer }}</td>
                            <td>{{ item.vehiculo_idvehiculo }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.permisotaxi_idpermisotaxi }}</td>

                            <td>{{ item.fecha | date }}</td>
                          
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button (click)="addPermisotaxiasignadosModalShow()" class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>

</div>
