<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Vehiculo</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Vehiculo">

            <div class="form-group row" [ngClass]="{'has-error': (!marca.valid && marca.touched), 'has-success': (marca.valid && marca.touched)}">
              <label for="inputmarca" class="col-sm-2 form-control-label">Marca</label>
              <div class="col-sm-10">
                <input [formControl]="marca" type="text" class="form-control" id="inputmarca" placeholder="Marca" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!modelo.valid && modelo.touched), 'has-success': (modelo.valid && modelo.touched)}">
              <label for="inputmodelo" class="col-sm-2 form-control-label">Modelo</label>
              <div class="col-sm-10">
                <input [formControl]="modelo" type="text" class="form-control" id="inputmodelo" placeholder="Modelo" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!anio.valid && anio.touched), 'has-success': (anio.valid && anio.touched)}">
              <label for="inputanio" class="col-sm-2 form-control-label">Anio</label>
              <div class="col-sm-10">
                <input [formControl]="anio" type="text" class="form-control" id="inputanio" placeholder="Anio" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!serie.valid && serie.touched), 'has-success': (serie.valid && serie.touched)}">
              <label for="inputserie" class="col-sm-2 form-control-label">Serie</label>
              <div class="col-sm-10">
                <input [formControl]="serie" type="text" class="form-control" id="inputserie" placeholder="Serie" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!serieMotor.valid && serieMotor.touched), 'has-success': (serieMotor.valid && serieMotor.touched)}">
              <label for="inputserieMotor" class="col-sm-2 form-control-label">Serie del Motor</label>
              <div class="col-sm-10">
                <input [formControl]="serieMotor" type="text" class="form-control" id="inputserieMotor" placeholder="Serie del Motor" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!placa.valid && placa.touched), 'has-success': (placa.valid && placa.touched)}">
              <label for="inputplaca" class="col-sm-2 form-control-label">Placa</label>
              <div class="col-sm-10">
                <input [formControl]="placa" type="text" class="form-control" id="inputplaca" placeholder="Placa" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!kilometraje.valid && kilometraje.touched), 'has-success': (kilometraje.valid && kilometraje.touched)}">
              <label for="inputkilometraje" class="col-sm-2 form-control-label">Kilometraje</label>
              <div class="col-sm-10">
                <input [formControl]="kilometraje" type="text" class="form-control" id="inputkilometraje" placeholder="Kilometraje" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
              <label for="inputstatus" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [formControl]="status" type="text" class="form-control" id="inputstatus" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!poliza.valid && poliza.touched), 'has-success': (poliza.valid && poliza.touched)}">
              <label for="inputpoliza" class="col-sm-2 form-control-label">Poliza</label>
              <div class="col-sm-10">
                <input [formControl]="poliza" type="text" class="form-control" id="inputpoliza" placeholder="Poliza" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!polizaTipo.valid && polizaTipo.touched), 'has-success': (polizaTipo.valid && polizaTipo.touched)}">
              <label for="inputpolizaTipo" class="col-sm-2 form-control-label">polizaTipo</label>
              <div class="col-sm-10">
                <input [formControl]="polizaTipo" type="text" class="form-control" id="inputpolizaTipo" placeholder="polizaTipo" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!condActual.valid && condActual.touched), 'has-success': (condActual.valid && condActual.touched)}">
              <label for="inputcondActual" class="col-sm-2 form-control-label">Condicion Actual</label>
              <div class="col-sm-10">
                <input [formControl]="condActual" type="text" class="form-control" id="inputcondActual" placeholder="Condicion Actual" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!condInicial.valid && condInicial.touched), 'has-success': (condInicial.valid && condInicial.touched)}">
              <label for="inputcondInicial" class="col-sm-2 form-control-label">Condicion Inicial</label>
              <div class="col-sm-10">
                <input [formControl]="condInicial" type="text" class="form-control" id="inputcondInicial" placeholder="Condicion Inicial" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!color.valid && color.touched), 'has-success': (color.valid && color.touched)}">
              <label for="inputcolor" class="col-sm-2 form-control-label">Color</label>
              <div class="col-sm-10">
                <input [formControl]="color" type="text" class="form-control" id="inputcolor" placeholder="Color" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!propietario.valid && propietario.touched), 'has-success': (propietario.valid && propietario.touched)}">
              <label for="inputpropietario" class="col-sm-2 form-control-label">Propietario</label>
              <div class="col-sm-10">
                <select [formControl]="propietario" name="propietario" class="form-control">
                  <option *ngFor="let propietario of propietarios" [value]="propietario.idpersona">
                    {{ propietario.nombre }}
                  </option>
                </select>
              </div>
            </div>


          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
