<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Vehiculoreparando</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Vehiculoreparando">

            <div class="form-group row" [ngClass]="{'has-error': (!fechaIngresa.valid && fechaIngresa.touched), 'has-success': (fechaIngresa.valid && fechaIngresa.touched)}">
              <label for="inputfechaIngresa" class="col-sm-2 form-control-label">Fecha Ingresa</label>
              <div class="col-sm-10">
                <input [formControl]="fechaIngresa" type="date" class="form-control" id="inputfechaIngresa" placeholder="Fecha Ingresa" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!fechaSalida.valid && fechaSalida.touched), 'has-success': (fechaSalida.valid && fechaSalida.touched)}">
              <label for="inputfechaSalida" class="col-sm-2 form-control-label">Fecha Salida</label>
              <div class="col-sm-10">
                <input [formControl]="fechaSalida" type="date" class="form-control" id="inputfechaSalida" placeholder="Fecha Salida" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!fechaEstimada.valid && fechaEstimada.touched), 'has-success': (fechaEstimada.valid && fechaEstimada.touched)}">
              <label for="inputfechaEstimada" class="col-sm-2 form-control-label">Fecha Estimada</label>
              <div class="col-sm-10">
                <input [formControl]="fechaEstimada" type="date" class="form-control" id="inputfechaEstimada" placeholder="Fecha Estimada" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!inventario.valid && inventario.touched), 'has-success': (inventario.valid && inventario.touched)}">
              <label for="inputinventario" class="col-sm-2 form-control-label">inventario</label>
              <div class="col-sm-10">
                <input [formControl]="inventario" type="text" class="form-control" id="inputinventario" placeholder="inventario" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!motivo.valid && motivo.touched), 'has-success': (motivo.valid && motivo.touched)}">
              <label for="inputmotivo" class="col-sm-2 form-control-label">Motivo</label>
              <div class="col-sm-10">
                <input [formControl]="motivo" type="text" class="form-control" id="inputmotivo" placeholder="Motivo" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
              <label for="inputstatus" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [formControl]="status" type="text" class="form-control" id="inputstatus" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!orden.valid && orden.touched), 'has-success': (orden.valid && orden.touched)}">
              <label for="inputorden" class="col-sm-2 form-control-label">Orden</label>
              <div class="col-sm-10">
                <input [formControl]="orden" type="text" class="form-control" id="inputorden" placeholder="Orden" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!enviotaller_idenviotaller.valid && enviotaller_idenviotaller.touched), 'has-success': (enviotaller_idenviotaller.valid && enviotaller_idenviotaller.touched)}">
              <label for="inputenviotaller_idenviotaller" class="col-sm-2 form-control-label">Envio Taller</label>
              <div class="col-sm-10">
                <select [formControl]="enviotaller_idenviotaller" name="enviotaller_idenviotaller" class="form-control">
                  <option *ngFor="let enviotaller of enviotalleres" [value]="enviotaller.idenviotaller">
                    {{ enviotaller.idenviotaller }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!taller_idtaller.valid && taller_idtaller.touched), 'has-success': (taller_idtaller.valid && taller_idtaller.touched)}">
              <label for="inputtaller_idtaller" class="col-sm-2 form-control-label">Taller</label>
              <div class="col-sm-10">
                <select [formControl]="taller_idtaller" name="taller_idtaller" class="form-control">
                  <option *ngFor="let taller of talleres" [value]="taller.idtaller">
                    {{ taller.idtaller }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!mecanico_idmecanico.valid && mecanico_idmecanico.touched), 'has-success': (mecanico_idmecanico.valid && mecanico_idmecanico.touched)}">
              <label for="inputmecanico_idmecanico" class="col-sm-2 form-control-label">Mecanico</label>
              <div class="col-sm-10">
                <select [formControl]="mecanico_idmecanico" name="mecanico_idmecanico" class="form-control">
                  <option *ngFor="let mecanico of mecanicos" [value]="mecanico.idmecanico">
                    {{ mecanico.idmecanico }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!permisotaxiasignado_idpermisotaxiasignado.valid && permisotaxiasignado_idpermisotaxiasignado.touched), 'has-success': (permisotaxiasignado_idpermisotaxiasignado.valid && permisotaxiasignado_idpermisotaxiasignado.touched)}">
              <label for="inputpermisotaxiasignado_idpermisotaxiasignado" class="col-sm-2 form-control-label">Permiso Taxi Asignado</label>
              <div class="col-sm-10">
                <select [formControl]="permisotaxiasignado_idpermisotaxiasignado" name="permisotaxiasignado_idpermisotaxiasignado" class="form-control">
                  <option *ngFor="let permiso of permisos" [value]="permiso.idpermisotaxiasignado">
                    {{ permiso.idpermisotaxiasignado }}
                  </option>
                </select>
              </div>
            </div>


          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
