<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Liquidacion</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información de la Liquidacion">

            <div class="form-group row" [ngClass]="{'has-error': (!cantidadRecibida.valid && cantidadRecibida.touched), 'has-success': (cantidadRecibida.valid && cantidadRecibida.touched)}">
              <label for="inputcantidadRecibida" class="col-sm-2 form-control-label">Cantidad Recibida</label>
              <div class="col-sm-10">
                <input [formControl]="cantidadRecibida" type="text" class="form-control" id="inputcantidadRecibida" placeholder="Cantidad Recibida" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
              <label for="inputstatus" class="col-sm-2 form-control-label">Status</label>
              <div class="col-sm-10">
                <input [formControl]="status" type="text" class="form-control" id="inputstatus" placeholder="Status" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!cambio.valid && cambio.touched), 'has-success': (cambio.valid && cambio.touched)}">
              <label for="inputcambio" class="col-sm-2 form-control-label">Cambio</label>
              <div class="col-sm-10">
                <input [formControl]="cambio" type="text" class="form-control" id="inputcambio" placeholder="Cambio" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!folio.valid && folio.touched), 'has-success': (folio.valid && folio.touched)}">
              <label for="inputfolio" class="col-sm-2 form-control-label">Folio</label>
              <div class="col-sm-10">
                <input [formControl]="folio" type="text" class="form-control" id="inputfolio" placeholder="Folio" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!kilometraje.valid && kilometraje.touched), 'has-success': (kilometraje.valid && kilometraje.touched)}">
              <label for="inputkilometraje" class="col-sm-2 form-control-label">Kilometraje</label>
              <div class="col-sm-10">
                <input [formControl]="kilometraje" type="text" class="form-control" id="inputkilometraje" placeholder="Kilometraje" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!fecha.valid && fecha.touched), 'has-success': (fecha.valid && fecha.touched)}">
              <label for="inputfecha" class="col-sm-2 form-control-label">Fecha</label>
              <div class="col-sm-10">
                <input [formControl]="fecha" type="date" class="form-control" id="inputfecha" placeholder="Fecha" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!nota.valid && nota.touched), 'has-success': (nota.valid && nota.touched)}">
              <label for="inputnota" class="col-sm-2 form-control-label">Nota</label>
              <div class="col-sm-10">
                <input [formControl]="nota" type="text" class="form-control" id="inputnota" placeholder="Nota" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!cantPagada.valid && cantPagada.touched), 'has-success': (cantPagada.valid && cantPagada.touched)}">
              <label for="inputcantPagada" class="col-sm-2 form-control-label">Cantidad Pagada</label>
              <div class="col-sm-10">
                <input [formControl]="cantPagada" type="text" class="form-control" id="inputcantPagada" placeholder="Cantidad Pagada" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!cantDeuda.valid && cantDeuda.touched), 'has-success': (cantDeuda.valid && cantDeuda.touched)}">
              <label for="inputcantDeuda" class="col-sm-2 form-control-label">Cantidad Deuda</label>
              <div class="col-sm-10">
                <input [formControl]="cantDeuda" type="text" class="form-control" id="inputcantDeuda" placeholder="Cantidad Deuda" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!bonificado.valid && bonificado.touched), 'has-success': (bonificado.valid && bonificado.touched)}">
              <label for="inputbonificado" class="col-sm-2 form-control-label">Bonificado</label>
              <div class="col-sm-10">
                <input [formControl]="bonificado" type="text" class="form-control" id="inputbonificado" placeholder="Bonificado" >
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!chofer_idchofer.valid && chofer_idchofer.touched), 'has-success': (chofer_idchofer.valid && chofer_idchofer.touched)}">
              <label for="inputchofer_idchofer" class="col-sm-2 form-control-label">Chofer</label>
              <div class="col-sm-10">
                <select [formControl]="chofer_idchofer" name="chofer_idchofer" class="form-control">
                  <option *ngFor="let chofer of choferes" [value]="chofer.idchofer">
                    {{ chofer.idchofer }}
                  </option>
                </select>
              </div>
            </div>

          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>

  </div>
</div>
