<div class="widgets">
    <div class="row">
        <ba-card title="Listado" baCardClass="with-scroll" class="data-table-container">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">Información de Ordenes</div> -->

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 15%"></th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="manoObra">Mano de Obra</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="subtotal">Subtotal</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="total">Total</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="anticipo">Anticipo</mfDefaultSorter>
                            </th>
                            <th style="width: 10%">
                                <mfDefaultSorter by="vehiculoreparando_idvehiculoreparando">Vehiculo</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data;  let i = index">
                            <td>
                                <button (click)="editOrdenesModalShow(item)" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                                <button (click)="onDeleteConfirm($event, item.idorden)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                <button (click)="filesModalShow(item.idorden)" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></button>
                            </td>
                            <td>{{ item.fecha | date }}</td>
                            <td>{{ item.manoObra }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.subtotal }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.anticipo }}</td>
                            <td>{{ item.vehiculoreparando_idvehiculoreparando }}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button (click)="addOrdenesModalShow()" class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>

</div>
